@using Microsoft.AspNetCore.Components.Web.Virtualization
@model ContactFormModel
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="contact_us">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="sec-title">
                    <h2>Contact Us</h2>
                </div>
                <div class="default-form-area">

                    @using (Html.BeginForm("Contact", "Contact", FormMethod.Post))
                    {


                        <div class="row clearfix">

                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <div class="form-group">
                                    @Html.TextBox("ContactName", null, new { placeholder = "İsminiz *", @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    @Html.TextBox("ContactMail", null, new { placeholder = "Mail Adresiniz *", @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    @Html.TextBox("ContactPhone", null, new { placeholder = "Telefon Numaranız", @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    @Html.TextBox("ContactSubject", null, new { placeholder = "Konu", @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    @Html.TextArea("ContactMessage", null, new { placeholder = "Mesajınız", @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                                    <button class="btn-style-one" type="submit" data-loading-text="Please wait...">Gönder</button>
                                </div>
                            </div>

                        </div>
                    }


                </div>
            </div>

            <div class="col-md-4 col-sm-8 col-xs-12">
                <div class="sec-title">
                    <h2>Get in Touch</h2>
                </div>
                <div class="text">
                    <p>Lorem ipsum dolor sit amet, vix an natum labitur eleifend, mel amet a laorit menandri.</p>
                </div>
                <br>
                <div class="default-cinfo">

                    <div class="acc-content collapsed">
                        <ul class="contact-infos">
                            <li>
                                <div class="icon_box">
                                    <i class="fa fa-map-marker"></i>
                                </div><!-- /.icon-box -->
                                <div class="text-box">
                                    <p><b>Address:</b> <br> 121 Rain St, Melbourne 3000, Australia.</p>
                                </div><!-- /.text-box -->
                            </li>
                            <li>
                                <div class="icon_box">
                                    <i class="fa fa-phone"></i>
                                </div><!-- /.icon-box -->
                                <div class="text-box">
                                    <p><b>Call Us:</b> <br> +222 4444 88 999</p>
                                </div><!-- /.text-box -->
                            </li>
                            <li>
                                <div class="icon_box">
                                    <i class="fa fa-envelope"></i>
                                </div><!-- /.icon-box -->
                                <div class="text-box">
                                    <p><b>Mail Us:</b> <br> Yourmail@info.com</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

